<!doctype html>
<html xmlns:ng="http://angularjs.org" lang="en">
  <head id="head--"><title>Greenglass terrariumns</title><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!--[if lte IE 8]>
    <script>
      // The ieshiv takes care of our ui.directives, bootstrap module directives and 
      // AngularJS's ng-view, ng-include, ng-pluralize and ng-switch directives.
      // However, IF you have custom directives (yours or someone else's) then
      // enumerate the list of tags in window.myCustomTags

      window.myCustomTags = [ 'yourDirective', 'somebodyElsesDirective' ]; // optional
    </script>
    <script src="js/angular-ui-ieshiv.js"></script>
    <![endif]-->						    
<script src="http://localhost:9090/skewer"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css"><link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css"><link rel="stylesheet" type="text/css" href="css/jquery-ui-1.10.2.custom.css"><link rel="stylesheet" type="text/css" href="css/angular-ui.css"><link rel="stylesheet" type="text/css" href="css/main.css">
</head>
  <body id="ng:app" ng:app="myApp" >
    <div id="wrapper--"><div class="container-fluid" ng-controller='mainCntl'>
  <div class="row-fluid">
    <div id="sidebar--" class="span2"><h2>Green Glass</h2>

<accordion close-others="oneAtATime">
  <accordion-group heading="Filter and sort">
    <div class="well">
      <h4>Zoom</h4>
      <button type="button" class="btn btn-inverse"
      ng-click="zoomout" >Smaller</button>
      <button type="button" class="btn btn-inverse"
      ng-click="zoomin()" >Bigger</button>
    </div>
    
    
    <div class="well">
      <h4>Gallery</h4>
      <button type="button" class="btn btn-inverse"
      ng-model="cart.left" btn-checkbox>Terrariums only</button>
    </div>
    
    <div class="well">
      <h4>Availibility</h4> 
      <button type="button" class="btn btn-inverse" ng-model="buy.left" btn-checkbox>Now</button>
      <button type="button" class="btn btn-inverse" ng-model="buy.middle" btn-checkbox>Order</button>
      <button type="button" class="btn btn-inverse" ng-model="buy.right" btn-checkbox>Sold</button>
    </div>

    <div class="well">
      <h4>Size</h4>
      <button type="button" class="btn btn-inverse" ng-model="size.left" btn-checkbox>Small</button>
      <button type="button" class="btn btn-inverse" ng-model="size.middle" btn-checkbox>Med</button>
      <button type="button" class="btn btn-inverse" ng-model="size.right" btn-checkbox>Large</button>
    </div>


    <div class="well">
      <h4>Price</h4>
      <button type="button" class="btn btn-inverse" ng-model="price.left" btn-checkbox>&lt $50</button>
      <button type="button" class="btn btn-inverse" ng-model="price.middle" btn-checkbox>$50 - $100</button>
      <button type="button" class="btn btn-inverse" ng-model="price.right" btn-checkbox>&gt $100</button>
    </div>


    <div class="well">
      <h4>Shape</h4>
      <button type="button" class="btn btn-inverse" ng-model="shape.left" btn-checkbox>Square</button>
      <button type="button" class="btn btn-inverse" ng-model="shape.middle" btn-checkbox>Round</button>
      <button type="button" class="btn btn-inverse" ng-model="shape.right" btn-checkbox>Rectangle</button>
    </div>


    <div class="well">
      <h4>Type</h4>
      <button type="button" class="btn btn-inverse" ng-model="type.left" btn-checkbox>Standing</button>
      <button type="button" class="btn btn-inverse" ng-model="type.middle" btn-checkbox>Hanging</button>
    </div>
    
    <div class="well">
      <h4>Cart</h4>
      <button type="button" class="btn btn-inverse"
      ng-model="cart.left" btn-checkbox>Cart only</button>
    </div>
    
    
  </accordion-group>
  <accordion-group heading="Cart">
  </accordion-group>
  <accordion-group heading="Contact">
    <div style="color:white;">
      About, Faq, Services, Care Instructions,
      Blog separate
      Share buttons left bottom
    </div>
  </accordion-group>
</accordion>



<button type="button" class="btn btn-primary" ng-click="saveItems()">Save</button>
</div>
    <div id="isotope--"  class="span10"><div compile="itemsHtml" id="imageDiv"> 
</div> 

<div modal="shouldBeOpen" close="close()" options="opts">
  <div class="modal-header">
    <h4>Properties of this terrarium:</h4>
  </div >
  <div class="container">
    <div class="row">
      <div class="well span2">
	<img width="150" height="auto;" ng-src="images/{{item.name}}" >
	{{item.name}}<br/>
      </div>
      <div class="modal-body span3">
	<form class="navbar-form pull-left">
	  Price: <input type="text" id="price" name="price"
	  ng-model="item.price" /><br/>
	  Size:<select  id="size" ng-model="item.size" >
	    <option value="small">Small</option>
	    <option value="medium">Medium</option>
	    <option value="large">Large</option>
	  </select><br/>
	  Buy:<select  id="buy" ng-model="item.buy">
	    <option value="now">Now</option>
	    <option value="order">Order</option>
	    <option value="sold">Sold</option>
	  </select><br/>
	  Shape:<select id="shape" ng-model="item.shape">
	    <option value="square">Square</option>
	    <option value="round">Round</option>
	    <option value="rectangle">Rectangle</option>
	  </select><br/>
	  Type:<select id="type"  ng-model="item.type">
	    <option value="standing">Standing</option>
	    <option value="hanging">Hanging</option>
	  </select><br/>
	</form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="" ng-click="close()">Close</button>
  </div>
</div>
</div> 
  </div>
  
</div>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script><script type="text/javascript" src="js/jquery-ui-1.10.2.custom.min.js"></script><script type="text/javascript" src="js/bootstrap.js"></script><script type="text/javascript" src="js/angular.min.js"></script><script type="text/javascript" src="js/angular-ui.js"></script><script type="text/javascript" src="js/ui-bootstrap-tpls-0.2.0.js"></script><script type="text/javascript" src="js/modernizr.js"></script><script type="text/javascript" src="js/jquery.isotope.min.js"></script><script type="text/javascript" src="js/getpos.js"></script><script type="text/javascript" src="js/myangular.js"></script><script type="text/javascript" src="js/myjs.js"></script>
</div> 
  </body>
</html>	
