body {
    /* background: url(../images/bg/brushed_alu.png); */
    /* background: url(../images/bg/egg_shell.png); */
    background: url(../images/bg/darkdenim3.png);
    /* background: url(../images/bg/vertical_cloth.png); */
    /* background: url(../images/bg/dark_wall.png); */
    /* margin-right:8px; */
    /* padding-left:5px; */
}

#sidebar-- {
    /* margin-right:20px; */
    /* margin-right:-20px; */
    height:800px;
}
.dummyLeftBar {
 margin-right:-10px;   
}
#rightBlock .well {
    width:auto;
}

#imageDiv div {
    padding:3px;
    /* margin:10px; */
}

.item {
    /* height:150px; */
    /* width:200px; */
    /* border: solid 1px black; */
}

.title {
    color:white;
    padding-left:8px;
}
.title h3 {
    margin-bottom:0px;
    margin-top:0px;
}
h2 {
    font-size:30px;
    color:white;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* tooltip */
/* #tooltip { */
/*     background: black; */
/*     color:white; */
/*     width:100px; */
/*     display:none; */
/*     position:absolute; */
/*     top:20px; */
/*     left:100px; */
/* } */

/* #tooltip.active { */
/*     display:block; */
/* } */
 
.item div {
    color:white;
    display:none;
    /* border:solid 1px white; */
}

/* .item div.mouseover{ */
/*     display:block; */
/* } */

/* #isotope-- img.mouseover { */
/*     display:none ; */
/* } */

/* #isotope-- div.mousover { */
/*     display:block; */
    
/* } */
 

#isotope-- .mouseover img {
    display:none;
    /* opacity:0; */
}

#isotope-- .mouseover .descr {
    display:block;
}

#isotope-- .descr {
    text-align:center;
    vertical-align:center;
}


#sidebar-- .btn {
    padding-top:2px;
    padding-left:5px;
    padding-right:5px;
    margin-bottom:2px;
    font-size:13px;
    margin-top:2px;
}

#sidebar-- .well {
    color:lightgray;
    background: url(../images/bg/darkdenim3.png);
    padding-top:10px;
    padding-bottom:0px;
    padding-left:8px;
    padding-right:8px;
    width:auto;
    border: none;
    /* border-color:gray; */
    margin-bottom:0px;
}

.container-fluid {
    padding-left:0;
    padding-left:3px;
}

#isotope-- {
    /* margin-left:10px; */
    /* padding-left:20px */
}

#sidebar-- h4 {
    margin-bottom:2px;
    font-size:13px;
    width:80px;
}

.controlHeader .tooltip {
    margin-left:20px;
}

.accordion-group , .accordion-inner {
    border:none;
    padding-top:0px;
}

.accordion-body {
    margin-top: -10px;
}

.modal-body select{
    width:100px;
}

#size {
    margin-left:24px;
}

#shape {
    margin-left:11px;
}

#type {
    margin-left:20px;
}

#price {
    width: 85px;
    margin-left:15px;
}

#id {
    width: 85px;
    margin-left:15px;
}

#buy {
    margin-left:28px;
}

body>div.modal {
    width:460px;
}

.modal .well {
    margin-left:50px;
    margin-top:20px;
}

#isotope-- {
    border: solid #666666 1px;
    padding: 6px;
    margin-top:10px;
}

#linkbar-- {
    margin-top:10px;
    margin-left:15px;
    font-size:12px;
}



#linkbar-- ul {
    margin-left:0px;
    font-size:13px;
    
}

.container-fluid {
    padding-right:0px;
}

.controls {
    /* display:none; */
    opacity:0;
}

.controls.mouseover {
    opacity:1;
    /* display:block; */
}

.controls {
  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.controls {
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
      -ms-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
}

#sidebar-- a {
    color:white;
}

#sidebar-- span {
    color:white;
}

#linkbar-- ul {
    list-style: none;
}

#linkbar-- {
    /* height:800px; */
}

#isotope-- {
    z:0;
}

.leftBar {
    position:fixed;
}
.leftBar h4 {
    color:white;
}

#galleria{ width: 700px; height: 400px; background: #000 }


#galleria {
    padding-left:3px;
    padding-right:5px;
    padding-top:8px;
    bordern:none;
    /* background: url(../images/bg/darkdenim3.png); */
    background:gray;
    border:none;
    /* margin-left:8px; */
}


.view-footer {
    background:gray;
    /* background: url(../images/bg/darkdenim3.png); */
    padding-left:3px; padding-right:5px;
    padding-top: 7px; padding-bottom:9px;
    width:700px;
    border:none10;
}

.view-footer button {
    /* float:right; */
}

.alert {
    margin-bottom: 1px;
}

.cart {
    /* color:white; */
    padding-left:7px;
}

#rightBlock {
    /* color:white; */
}

.cart button {
    font-size:12px;
}

.cart .well {
    padding-top:5px;
}
