@font-face {
    font-family: "Love Ya Like A Sister";
    font-style: normal;
    font-weight: 400;
    src: local("Love Ya Like A Sister Regular"), local("LoveYaLikeASister-Regular"), url("LzkxWS-af0Br2Sk_YgSJY5HSI-O7NEBdNbD5SV3GSEY.woff") format("woff");
}
html {
    height:100%;
}

body {
    margin:0;
    padding:0;
    height:100%;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size:18px;
    line-height:1.5;
    /* position:relative; */
    /* height:100%; */
    
    /* background: url(../images/bg/brushed_alu.png); */
    /* background: url(../images/bg/egg_shell.png); */
    background: url(./bg/darkdenim3.png);
    /* background: url(../images/bg/vertical_cloth.png); */
    /* background: url(../images/bg/dark_wall.png); */
    /* margin-right:8px; */
    /* padding-left:5px; */
}
#linkbar-- a {
    color:white;
}
#linkbar-- a:hover {
    color:lightgreen;
}

#sidebar-- {
    /* margin-right:20px; */
    /* margin-right:-20px; */
    /* height:170px; */
    
}
.dummyLeftBar {
 margin-right:-10px;   
}
#rightBlock .well {
    width:auto;
}

#imageDiv div {
    padding:3px;
    margin-left:20px;
    /* margin:10px; */
}

.item {
    /* height:150px; */
    /* width:200px; */
    /* border: solid 1px black; */
}

/* .title { */
/*     color:white; */
/*     padding-left:8px; */
/* } */
/* .title h3 { */
/*     margin-bottom:0px; */
/*     margin-top:0px; */
/* } */
h2 {
    font-size:30px;
    color:white;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* tooltip */
/* #tooltip { */
/*     background: black; */
/*     color:white; */
/*     width:100px; */
/*     display:none; */
/*     position:absolute; */
/*     top:20px; */
/*     left:100px; */
/* } */

/* #tooltip.active { */
/*     display:block; */
/* } */
 
.item div {
    /* color:white; */
    /* display:none; */
    /* border:solid 1px white; */
}

/* .item div.mouseover{ */
/*     display:block; */
/* } */

/* #isotope-- img.mouseover { */
/*     display:none ; */
/* } */

/* #isotope-- div.mousover { */
/*     display:block; */
    
/* } */
 

/* #Isotope-- .mouseover img { */
/*     display:block; */
/*     /\* opacity:0; *\/ */
/* } */

#isotope-- .mouseover .descr {
    display:block;
}

#isotope-- .descr {
    text-align:center;
    vertical-align:center;
    position:relative;
    display:none;
    
}

#descrContainer button {
    margin-right:10px;
}

#descrContainer {
    vertical-align:center;
    position: absolute;
    bottom: 0px;
    text-align:left;
}

#descrContainer {
    margin-bottom: 10px;
   } 

#sidebar-- .btn {
    padding-top:2px;
    padding-left:5px;
    padding-right:5px;
    margin-bottom:2px;
    font-size:13px;
    margin-top:2px;
}


#sidebar-- .well {
    color:lightgray;
    background: url(./bg/darkdenim3.png);
    padding-top:10px;
    padding-bottom:0px;
    padding-left:8px;
    padding-right:8px;
    width:auto;
    border: none;
    /* border-color:gray; */
    margin-bottom:0px;
}


#priceWell.well {
    padding-bottom:10px;
    
}

.container-fluid {
    padding-left:0;
    padding-left:3px;
}

#isotope-- {
    /* margin-left:10px; */
    /* padding-left:20px */
}

.container-fluid h2 {
    margin-bottom:2px;
    /* font-size:11px; */
    /* width:80px; */
    margin-left:20px;
    color:lightgoldenrodyellow;
    font-family: 'Love Ya Like A Sister', cursive;
}

.controlHeader .tooltip {
    margin-left:100px;
}

.accordion-group , .accordion-inner {
    border:none;
    padding-top:0px;
}

.accordion-body {
    margin-top: -10px;
}

.modal-body select{
    width:100px;
}

/* #size { */
/*     margin-left:24px; */
/* } */

/* #shape { */
/*     margin-left:11px; */
/* } */

/* #type { */
/*     margin-left:20px; */
/* } */

#price { 
    width: 85px; 
    /* margin-left:15px;  */
} 

#id, #height, #width { 
    width: 85px; 
    /* margin-left:15px;  */
} 

/* #buy { */
/*     margin-left:28px; */
/* } */

body>div.modal {
    width:710px;
}

.modal .well {
    margin-left:50px;
    margin-top:20px;
}

#isotope-- {
    /* border: solid #666666 1px; */
    padding: 6px;
    margin-top:10px;
    padding-left:145px;
}

#blog-- , #info {
    padding: 6px;
    margin-top:10px;
    padding-left:190px;
    color:white;
}

#linkbar-- {
    margin-top:10px;
    margin-left:15px;
    font-size:20px;
    overflow:
}



#linkbar-- ul {
    margin-left:0px;
    /* font-size:13px; */
    
}

.container-fluid {
    padding-right:0px;
}

.controls {
    /* display:none; */
    opacity:1;
}

.controls.mouseover {
    opacity:1;
    /* display:block; */
}

.controls {
  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.controls {
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
      -ms-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
}

#sidebar-- a {
    color:gray;
}

#sidebar-- span {
    color:white;
}

#linkbar-- ul {
    list-style: none;
}

#linkbar-- li {
    padding-bottom:5px;
}

#linkbar-- {
    /* height:800px; */
}

#isotope-- {
    z:0;
}

.leftBar {
    position:fixed;
    /* padding-top:40px; */
}
.leftBar h4 {
    color:white;
    margin-right:-40px;
    font-size:14px;
}

#galleria{ width: 700px; height: 650px;   
	   /* background: black; */
	   
	 }  


#galleria {
    /* padding-left:3px; */
    /* padding-right:5px; */
    /* padding-top:8px; */
    padding:5px;
    /* background: url(../images/bg/darkdenim3.png); */
    /* background:white; */
    /* margin-left:8px; */
}


.view-footer {
    background:white;
    /* background: url(../images/bg/darkdenim3.png); */
    padding-left:3px; padding-right:5px;
    padding-top: 7px; padding-bottom:9px;
    width:695px;
    border:none10;
}

.view-footer button {
    /* float:right; */
}

.alert {
    margin-bottom: 1px;
}

.cart {
    /* color:white; */
   max-width:120px;
    padding-left:7px;
    margin-left:-20px;
}

.cart .well {
    margin-right:-30px;
}
.cart .checkout {
    margin-top:20px;
    margin-left:-3px;
}
.cart .paypal {
    margin-top:5px;
    margin-bottom:5px;
    width:60px;
    margin-left:-3px;
}
.cart .cash {
    width:60px;
    margin-left:-3px;
    margin-bottom:5px;
}

.cart .cancel {
    width:60px;
    margin-left:-3px;
}

.cart .text {
    font-size:16px;
}

#rightBlock {
    /* color:white; */
}

.cart button {
    font-size:12px;
}

.cart .well {
    padding-top:5px;
}

input[type='checkbox'] {
    margin-left:10px;
    margin-right:3px;
}

/* #select-- { */
/*     display:none; */
/*   -webkit-transition-duration: 0.8s; */
/*      -moz-transition-duration: 0.8s; */
/*       -ms-transition-duration: 0.8s; */
/*        -o-transition-duration: 0.8s; */
/*           transition-duration: 0.8s; */
	  
	  
/*   -webkit-transition-property: display, width;  */
/*      -moz-transition-property: height, width;  */
/*       -ms-transition-property: height, width;  */
/*        -o-transition-property: height, width;  */
/*           transition-property: display, width;  */
/* } */

.selector{
    width:110px;
    height:auto;
}

#selectContainer {
    min-height:95px;
}


img {
    padding-top:5px;
    border-radius: 10px;
    -o-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#rb1label {
    padding-top:5px;
}

.modal-header button {
    margin-top:-40px;
}

.modal-header h4 {
    margin-bottom:0px;
}

.modal-footer {
    text-align:left;
}

#moreImagesButton {
    margin-bottom:10px;
    width:12x;
}

#removeImageButton {
    /* margin-bottom:10px; */
    /* width:12px; */
}

.removeaddButtons {
    list-style:none;
    width:30px;
}


.modal-body {
    padding-left:0px;
}

.modal-body form {
    margin-left:-100px;
}

.form-horizontal .control-group {
    margin-bottom:0px;
}

.fullsize {
    margin-bottom:0px;
    margin-top:8px;
}

#PPMiniCart form{
    z-index:200;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

#wrapper-- {
    height: auto !important;
    height: 100%; 
    min-height:100%;
    position:relative;
}

#body {
 padding:10px;   
}

.bottomBar {
    /* background:gray; */
    background:url("http://localhost:6002/css/bg/darkdenim3.png")
    color:lightgray;
    opacity:0.4;
    position:absolute;
    bottom:0px;
    font-size:12px;
    width:100%;
    height:20px;
    text-align:center;
    /* margin-left:auto; */
    /* margin-right:auto; */
    margin-top:-20px;
    color:lightgray;
    
}
.bottomBar a {
    color:white;
    /* margin-left:auto;  */
    /* margin-right:auto;  */
}

.deleted {
    display:none;
}

.top-bar, .top-bar a, .title {
    color:lightgoldenrodyellow;
}

.title {
    font-size:25px;
}

.title1 {
    padding-bottom: 5px;
}

.top-bar {
    position:fixed;
    top:0px;
    padding-top:10px;
    padding-left:5px;
    z-index:200;
    background:url("http://localhost:6002/css/bg/darkdenim3.png")
}

#blog-- {
    color:white;
}
#isotope-- {
    /* padding-top:40px; */
}

.title2 {
    padding-bottom:30px;
}

#select-- {
    margin-left:20px;
    background:url("./bg/darkdenim3.png");
    color:gray;
    border:none;
}

#select-- .controlHeader {
    padding-bottom:8px;
}

.leftbarSpace {
    min-width:145px;
    min-height:220px;
}

.editButtons {
    /* padding-bottom:10px; */
}

.info-text {
    margin-bottom:40px;
}

.zeroheight {
    height:0px;
}
/* temp css for editor,because editor's background is white' */
.editcss {
    color:black;
}

.progressContainer {
    padding-left:30px;
}

.modal {
    margin-left: -350px;
    background:darkgray;
}

.modal.fade.in {
    top:1%
}

.galleria-custom {
    background-image: url("playpause-white.png");
    background-position: 50% 11px;
    padding-left:15px;
    padding-top:10px;
    padding-right:5px;
    border-right:1px solid #333333;
}
.galleria-custom {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #333333;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    cursor: pointer;
    height: 40px;
    left: 0px;
    outline-color: #000000;
    outline-style: solid;
    outline-width: 1px;
    position: absolute;
    width: 40px;
}

.galleria-fullscreen {
    left: 106px;
}

.galleria-play {
    left: 63px;
}

#buyGalleria {
    margin-right:20px;
    margin-top:3px;
}

#PPMiniCart {
    /* display:none; */
}

.galleria-thumbnails-container {
    left:146px;
}

.progressContainer {
    color:white;
}

.galleria-info-description {
    margin-left:50px;
}
